.navigation-bar {
  position: fixed;
  width: 300px;
  height: 100%;
  background: teal;
  border-left: 10px solid teal;
  transition: 0.5s;
  overflow: hidden;
}
.navigation-bar.active {
  width: 80px;
}

.navigation-bar ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation-bar ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation-bar ul li:hover,
.navigation-bar ul li.hovered {
  background-color: #f5f5dc;
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation-bar ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #f5f5dc;
}
.navigation-bar ul li:hover a,
.navigation-bar ul li.hovered a {
  color: teal;
}

.navigation-bar ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}
.navigation-bar ul li a .icon ion-icon {
  font-size: 1.75rem;
}

.navigation-bar ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* --------- curve outside ---------- */
.navigation-bar ul li:hover a::before,
.navigation-bar ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px #f5f5dc;
  pointer-events: none;
}
.navigation-bar ul li:hover a::after,
.navigation-bar ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px #f5f5dc;
  pointer-events: none;
}
