<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/loginStyle.css" />
    <title>Admin Portal</title>
  </head>
  <body>
    <div class="container">
      <div class="drop">
        <div class="content">
          <h2>Sign-In</h2>

          <form action="/adminlogin" method="post">
            <div class="inputBox">
              <input type="text" name="email_address" placeholder="Username" />
            </div>
            <div class="inputBox">
              <input type="password" name="password" placeholder="password" />
            </div>
            <div class="inputBox">
              <input type="submit" value="Login" />
            </div>
          </form>
        </div>
      </div>
      <!--    <a href="#" class="buttons">Forgot Passwords</a>-->
    </div>
  </body>
</html>
